# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
app/venv/


alembic/
app/alembic/
# Test coverage
.coverage
htmlcov/

# Logs
*.log

# VSCode/IDE config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
