# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
app/venv/

# Python coverage reports
.coverage
htmlcov/

# Pytest cache
.pytest_cache/

# Logs
*.log

# VSCode and IDE settings
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Helm and Kubernetes-related files (optional if generated dynamically)
*.tgz
*.lock

# Docker
*.tar

# Build folders (if using dist/ or build/)
dist/
build/

# Node modules (if you ever use frontend tools)
node_modules/

# Secrets (be sure you’re not leaking secrets)
#app/secrets.yaml
#k8s/**/secret.yaml
kubeconfig
